.nav{
    font-family: 'Archivo Narrow', sans-serif !important;
    color: var(--color-nav);
}
.navbar .container{
    display: flex;
    flex-direction: row;
}
.navbar-brand{
    color: var(--color-nav) !important;
}
.navbar-toggler{
    border: none !important;
    color: var(--color-border-btn-primary) !important;
}
.bg-light{
    background: var(--color-square) !important;
}