:root{
    --color-background: #e5e5e5;
    --color-nav: #262626;
    --color-square: #f4f3ee;
    --color-footer: #8d8d8d;
    --color-footer-bg: white;
    --color-square-bg: #c32c72;
    --color-border-btn-primary: #463F3A;
}