.footer{
    flex-shrink: 0;
    color: $color-footer;
    background: $color-footer-bg;

    &__inner{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    &__item{
        padding: .3rem 0; 
    }
}
@media (min-width:768px){
    footer{
        background: $color-square;
    }
    &__inner{
        flex-direction: row;
        justify-content: space-between;
    }
}