*{
    box-sizing: border-box;
    margin: 0;
}

html,
body{
    height: 100%;
}
body{
    font-family: "Open Sans", sans-serif;
    background: $background-color !important;
    display: flex;
    flex-direction: column;
}
.wrapper{
    flex: 1 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width:768px){
    .container h1{
        flex: 0 0 100%;
        text-align: center;
    }
    .container.squares{
        flex-direction: row;
        flex-wrap: wrap;
    }
}