.nav{
    font-family: 'Archivo Narrow', sans-serif;
    color: $color-nav;
}
#logo{
    color: $color-nav;
}
.navbar{
    background: $color-square;
}
.navbar .container{
    display: flex;
    flex-direction: row;
}
.navbar-toggler{
    border: none;
    color: $color-border-btn-primary;
}
#active-link{
    color: $color-square-bg;
}