.nav-header{
    font-family: 'Archivo Narrow', sans-serif;
    color: $color-nav;

    &__link#nav-header__link--link{
        color: $color-square-bg;
    }
}
#logo{
    color: $color-nav;
}
.navbar{
    background: $color-square;
}
.navbar .container{
    display: flex;
    flex-direction: row;
}
.navbar-toggler{
    color: $color-border-btn-primary;
}
